<%- include("partials/header") -%>



<div class="container">
    <br><br><br>
    <h1 class="colorfull-text">ASTRONOMY PICTURE OF THE DAY - By NASA
    </h1>
    <br><br>
    <h3> <%= nasaAPOD.title %></h3>
    <p><%= nasaAPOD.date %></p>

    <br>
    <% if (nasaAPOD.media_type == 'image') { %>
        <img style="border-radius: 3%;" class="apod-img" src='<%=nasaAPOD.hdurl%>' alt="">
    <% } %> 
    <br><br>
    <p><%= nasaAPOD.explanation %></p>
    <small><i><%= nasaAPOD.copyright %></i></small>
    



</div>


<%- include("partials/footer") -%>
