<%- include("partials/header") -%>

<!-- <div class="text-left back-arrow mt-5 ml-5">
  <a href="/explore">
    <img src="images/back-arrow.png" class="mr-2" style="height: 40px; width: 40px;" alt="">
  </a>  Explore Page
</div> -->

<!-- <p><a href="/add" class="add-new-card">Add Your Knowledge about space</a></p> -->
<div class="container">
  <br><br><br><br>
  <div class="">    
    <h2>Welcome to Our Space Blog</h2>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <img style="    height: 350px; width: 100%;" src="https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/static/home/thespacedevs/images/snapifeatures/blogs.jpg" alt="">
        </div>
        <div class="col-md-6 text-left col-lg-6">
          <p>Depending on how carefully you do the calculations and how you arrange them, all of the planets in the solar system could fit in between Earth and its moon. The distance between the Earth and the moon varies, as does the diameter of each of the planets — they're wider at their equators, so Saturn or Jupiter or both would have to be tilted sideways for this to work, according to news site Slate. But imagine lining them all up, pole to pole. They'd just barely squeeze in between us and our closest companion in space, blocking out the sky with their rings and gas giant bulk as they did so. (Of course, in all practicality we'd have other problems to worry about, too. Our little moon creates vast tides on Earth already — the gravitational perturbation from our new proximity to Jupiter alone would keep any of us from admiring the view.)</p>
        </div>
    </div>
</div>
  <br>
  <div class="card-deck">
      <div class="row"  style="margin-right: 0;">
       <% for (i = cards.length - 1; i >= 0; i--) { %>
           <div class="">
             <div class="card">
                 <div class="card-coloums">
                 <div class="card-body">
                 <h5 class="card-title"><%= cards[i].title %></h5>
                 <a href="/card/<%= i %>">read</a>
                 <small class="ml-3" style="color: black" >by <%= cards[i].by %></small>
                 <small class="ml-3" style="color: black"><%= cards[i].date %></small>
              </div>
               </div>
               </div>
           </div>
    <% } %>
      </div></div>
      
    </div>





<%- include("partials/footer") -%>
