<%- include("partials/header") -%>



<br><br><br>
<div class="container mt-5">
    <div class="">    
        <h2>Space News</h2>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img style="    height: 250px; width: 100%;" src="https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/static/home/thespacedevs/images/snapi_logo.svg" alt="">
            </div>
            <div class="col-md-6 text-left col-lg-6">
                <p>Our solar system consists of the sun and everything that orbits that sun, like the eight (once nine) planets we all know from elementary school. But the main planets, as diverse and fascinating as they are, are just the beginning. Earth's neighbors in space include comets, asteroids, dwarf planets, mysterious moons and a host of strange phenomena that are so out-of-this-world they elude explanation. 

                    Scientists have discovered ice-spewing volcanoes on Pluto, while Mars is home to a truly "grand" canyon the size of the United States. There may even be a giant, undiscovered planet lurking somewhere beyond Neptune.</p>
            </div>
        </div>
    </div>

<br><br><br>
    <!-- --card-bg-color: #1E1E1E; -->

    <% for (let i=0; i<spaceNews.length ; i++) { %>
        <div class="space-news-board mt-5" style="background-color: #1E1E1E; padding: 20px;">
            <br>
            <h4><%= spaceNews[i].title%></h4>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img style="height: 250px; width: auto;" src="<%= spaceNews[i].imageUrl %>" alt=""><br><br>
                </div>
                <div class="col-md-6 col-lg-6 text-left">
                    <p><%= spaceNews[i].summary%></p>
                    <div class="text-right">
                        <a href="<%= spaceNews[i].url%>">Read more</a><br>
                        <i class="mr-0">NewsSite: <%= spaceNews[i].newsSite%></i>
                        <br>
                        <small style="letter-spacing: 2px;">
                            <i>publisted at: <%= spaceNews[i].publishedAt%></i><br>
                            <i>updated at: <%= spaceNews[i].updatedAt%></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

<%- include("partials/footer") -%>