<%- include("partials/header") -%>


  
<br><br><br>
<div class="container mt-5">
    <div class="">    
        <h2>Daily Report By Nasa</h2>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img style="    height: 250px; width: 100%;" src="https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/static/home/thespacedevs/images/snapifeatures/reports.jpg" alt="">
            </div>
            <div class="col-md-6 text-left col-lg-6">
                <p>NASA's Voyager 1 spacecraft was launched in 1977. More than three decades later, in 2012, it became the first human-made object to enter interstellar space by crossing the heliopause, or the edge of the heliosphere. That's the boundary beyond which most of the sun's ejected particles and magnetic fields dissipate.</p>
            </div>
        </div>
    </div>

<br><br><br>
    <!-- --card-bg-color: #1E1E1E; -->

    <% for (let i=0; i<spaceReports.length ; i++) { %>
        <div class="space-news-board mt-5" style="background-color: #1E1E1E; padding: 20px;">
            <br>
            <h4><%= spaceReports[i].title%></h4>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img style="height: 250px; width: auto;" src="<%= spaceReports[i].imageUrl %>" alt=""><br><br>
                </div>
                <div class="col-md-6 col-lg-6 text-left">
                    <p><%= spaceReports[i].summary%></p>
                    <div class="text-right">
                        <a href="<%= spaceReports[i].url%>">Read more</a><br>
                        <i class="mr-0">Report by: <%= spaceReports[i].newsSite%></i>
                        <br>
                        <small style="letter-spacing: 2px;">
                            <i>publisted at: <%= spaceReports[i].publishedAt%></i><br>
                            <i>updated at: <%= spaceReports[i].updatedAt%></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

<%- include("partials/footer") -%>